<div class="container">
  <div class="page-header">
    <h1>Lessons</h1>
  </div>

  <ol>
    <% @lessons.each do |lesson| %>
      <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %> (lesson <%= lesson.number %>)</a></li>
    <% end %>
  </ol>

  <%= render('layouts/errors', :object => @lesson) %>

  <h4>Create a new lesson</h4>
  <form action="/lessons" method="post">
    <%= render('form') %>
    <button class="btn btn-primary">Create</button>
  </form>
</div>
